[Unit]
Description=Run Borg Backup Script

[Service]
Type=oneshot
Environment="BORG_REPO=ssh://borg@192.168.178.172:/volume1/home-backup"
Environment="BORG_PASSPHRASE=xxxxxxXXXxxxxxxx"
ExecStart=/home/bd/bin/backup-home.sh
StandardOutput=append:/home/bd/logs/borg-backup.log
StandardError=inherit
